{% extends 'base.html.twig' %}

{% block title %}Wonder{% endblock %}

{% block body %}
    <ul>
        {% for question in questions %}
            <div class="block block-shadow d-flex flex-row-nowrap mb-20">
                {% include "partials/_rating.html.twig" with { rating: question.rating, from: 'question', id: question.id } %}
                <div class="flex-fill d-flex flex-column">
                    <a href="{{ path('question_show', { id: question.id }) }}" class="mb-20 question-content pb-20">
                        <h3 class="mb-20">{{ question.title }}</h3>
                        <p>{{ question.content }}</p>
                    </a>
                    <div class="d-flex flex-row-nowrap justify-content-between">
                        <div class="d-flex flex-row-nowrap align-item-center">
                            <img class="mr-10 avatar" src="https://randomuser.me/api/portraits/women/44.jpg" alt="image de profil">
                            <small>Demandé par <span class="clickable">Jean Louis</span></small>
                        </div>
                        <div class="d-flex flex-row-nowrap align-item-center">
                            <i class="fa-regular fa-comment mr-10"></i>
                            <p>{{ question.nbrOfResponse }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}
