<div class="sidebar d-flex flex-column">
    <a href="{{ path('question_form') }}" class="btn btn-primary btn-icon-primary">
        <i class="fa-solid fa-question mr-5"></i>
        <span>Poser une question</span>
    </a>
    <ul class="sidebar-nav py-20">
    {# class="{{ app.request.pathinfo == path('app_home') ? 'active' : ""  }}" #}
        <a href="{{ path('app_home') }}" {% if app.request.pathinfo == path('app_home') %}class="active"{% endif %}
        >
            <i class="fa-solid fa-house mr-5"></i>
            Liste des questions
        </a >
    </ul>
</div>