.question-content {
    border-bottom: 1px solid var(--gray-light);
}

.rating-up {
    color: var(--primary);
}

.rating-down {
    color: var(--warning);
}

.fa-arrow-up,
.fa-arrow-down {
    cursor: pointer;
}

.fa-arrow-up:hover {
    color: var(--primary);
    transition: color 0.4s;
}

.fa-arrow-down:hover {
    color: var(--warning);
    transition: color 0.4s;
}

.question-tag {
    background-color: var(--primary);
    color: var(--primary-light);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semi-bold);
    padding: 5px 10px;
    border-radius: var(--border-radius);
    margin-left: 10px;
    margin-right: 10px;
}